{{> menu}}

<section class="section">
  <div class="container">
    <h2 class="title is-2">{{title}}</h2>

    <table class="table is-fullwidth is-striped has-background-grey-dark has-text-light">
      <thead>
          <tr>
              <th>Timestamp</th>
              <th>Sensor 1 Temperature (°C)</th>
              <th>Sensor 2 Temperature (°C)</th>
          </tr>
      </thead>
      <tbody>
          {{#each readings}}
          <tr>
              <td>{{this.timestamp}}</td>
              <td>{{this.sensor1_temperature}}</td>
              <td>{{this.sensor2_temperature}}</td>
          </tr>
          {{/each}}
      </tbody>
    </table>
  </div>
</section>