<nav class="navbar">
  <div class="navbar-brand">
    <div class="title p-3 is-flex">
      <i style="font-size: 48px; color: rgb(14, 104, 0);" class="fas fa-temperature-quarter"></i>
      <div class="ml-4">Welcome - I've been expecting you</div>
    </div>
  </div>
  <div class="navbar-menu" id="navMenu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a id="logout" class="button" href="/logout"> Logout
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>

<script>

</script>