<div class="columns is-mobile is-centered">
  <div class="title p-1 is-centered">
    <i style="font-size: 48px; color: rgb(14, 104, 0);" class="fas fa-temperature-quarter"></i>
    Welcome - I've been expecting you
  </div></br>
</div>